/* Write your CSS code here */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-img {
  height: 120px;
}
.heading {
  color: #6d396b;
  font-family: Roboto;
}
.para {
  color: #555555;
  font-family: Roboto;
}
