/* Write your CSS code here */
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-img {
  height: 150px;
}
.contact-heading {
  color: #6d396b;
  font-family: Roboto;
  font-size: 25px;
}
